#sidebar-wrapper.active {
	right: 300px;
	width: 300px;
}

#sidebar-wrapper {
	margin-right: -300px;
}

.sidebar-nav li {
    text-indent: 0;
    padding-left: 20px;
}

.sidebar-nav {
	width: 280px;
}

.navbar-fixed-bottom {
    margin-top: 20px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: static;
}
.navbar-fixed-bottom {
    bottom: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    margin-bottom: 0;
    right: 0;
    z-index: 1030;
}
.navbar {
    overflow: visible;
}

.btn-lg {
	padding: 5px 8px 2px;
}

#footer_body {
	background-color: #eee;
}

footer {
    padding: 0;
}

h1, h2, h3 {
	color: #729fcf;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
}

#sidebar-wrapper {
	color: #aaa;
}

input {
	background-color: rgba(0, 0, 0, 0);
}

#color-slider {
	margin-left:20px;
	margin-right:20px;
}

.ui-slider, .ui-slider-handle { background: #729fcf; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 0 8px;
}
